<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script type='text/javascript' src='https://a.visual.ly/api/embed/150315?width=540' class='visually_embed_script' id='visually_embed_script_150315'></script>
    <div class='visually_embed'>
        <img class='visually_embed_infographic' src='https://visual.ly/node/image/150315?_w=540' alt='Real Time' />
        <!-- <div class='visually_embed_cycle'></div> -->
        <!-- <p> From <a href='https://visual.ly?utm_source=content-embed&utm_medium=embed'>Visually</a>.</p> -->
    </div>
</body>
</html>